@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #eea514;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #fad001;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 60%;
  background-color: #fb3004;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 60px;
  width: 80px;
  background: #9c0619;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 35px;
  width: 70%;
  background: #a13c0c;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #0ca124;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 5px #2d9961;
}

.onion {
  width: 60%;
  background-color: #6d0ca1;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.lettuce {
  height: 20px;
  width: 75%;
  background: #2ff85b;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.bun-bottom {
  height: 40px;
  width: 60%;
  background: #eea514;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #4B66ba;
  border-radius: 20px 20px 200px 200px;
}
